<html>
<head>
	<title>Signup Page</title>
	<link href="../asset/adminsignup.css" type="text/css" rel="stylesheet" />
</head>

<body>

	<form method="post" action="../controller/signupcheck.php" class="container">
		<fieldset >
			<legend id="10">Signup</legend>
			<table>
				<tr id="d1">
					<td>Username:</td>
					<td><input type="text" name="username" value=""></td>
				</tr>
				
				<tr id="d3">
					<td>Password:</td>
					<td><input type="password" name="password" value=""></td>
				</tr>
				
				<tr id="d4">
					<td>Email:</td>
					<td><input type="email" name="email" value=""></td>
				</tr>
				
				<tr id="d5">
				    <td>DOB: </td>
					<td><input type="date" name="dob" value=""> </td> 
                </tr>	


                <tr id="d6">
				    <td>Gender </td>
					<td>
						Male<input type="radio" name="gender" value="Male">
						Female<input type="radio" name="gender" value="Female">
						Others<input type="radio" name="gender" value="Others"> 
					</td> 
                </tr>			
			
				
				<tr id="d7">
					<td><input type="reset" name="" value="Reset"></td>
					<td><input type="submit" name="submit" value="Submit"></td>
				</tr>

				<tr id="d8">
					<td> <a href="login.html">Login</a> </td>
					<td> </td>
				</tr>

			</table>

		</fieldset>

	</form>

</body>

</html>