<html>
<head>
	<meta charset="utf-8">
	<title> Picture Upload </title>
</head>
<body>
    <table align="center">
	    <tr> 
		    <th> 
			    <a href="profile.php"> Back |</a>
			    <a href="home.php"> Home |</a> 
				<a href="../controller/logout.php"> Logout </a>
			</th> 
	    </tr>
	</table> <br>

	<form method="POST" action="../controller/picuploadCheck.php" enctype="multipart/form-data">
		<input type="file" name="myfile" value="">Image: 
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>